/*
* Name: Dylan Scott
	Date: March 09, 2013
	Student Number: 200167576
	Website Name: css/mobile.css
	Description: This is my css style sheet for my specifically for coded elements on the mobile.html page. I used this for quick
	fixes
*/
#logopic,
#profilepic {
	text-align: center;
}

#contactinfo {
	font-size:16px;
}
